body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cinemax_logo
{
  max-width: 100%;
  height: auto;
}

.carousel-inner img
{
  width: 100%;
  height: 100%;
}
.carousel-item
{
  height: 400px;
} 
.carousel-item img
{
  position: absolute;
  object-fit:cover;
  top: 0;
  left: 0;
  min-height: 400px;
}

#navigation_bar li
{
  margin-right: 100px;
}

/* Container holding the image and the text */
.cinemax_seats_container
{
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.cinemax_seats_container_centered_text
{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Centered text */
.cinemax_seats_container_centered_text2
{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Container holding the image and the text */
.dolby_container
{
  position: relative;
  text-align: center;
  color: white;
}

.buttons
{
  width: 700px;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: aquamarine; 
}
.buttons button
{
  width: 100%;
}

#makeBooking_footer .btn-primary
{
  width: 114px;
  margin: 1px;
}