#header-row {
  position: relative;
  bottom: 33px;
}

#zael-logo {
  width: 30%;
  position: relative;
  left: 75%;
}

#header-nav {
  position: relative;
  top: 40px;
  background-color: white;
}

/*1st Row*/
.header_top_right {
  position: relative;
  right: 30%;
  text-align: right;
  padding: 10px 0 13px;
}

.header_top_left ul li {
  font-size: 14px;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 45px;
  position: relative;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.header_top_right__social a {
  font-size: 14px;
  display: inline-block;
  color: #1c1c1c;
  margin-right: 20px;
}


/* Login Button */
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #e04b11;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  position: relative;
  top: 25px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

* {
	box-sizing: border-box;
  }
  
  /*Search Box */
  form.search input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
	border: none;
  }
  
  form.search button {
	position: absolute;
	top: auto;
	float: left;
	width: 80px;
	height: 45px;
	padding: 10px;
	background: #e04b11;
	color: white;
	font-size: 17px;
	border: none;
	border-left: none;
	cursor: pointer;
  }
  
  form.search button:hover {
	background: #e04b11;
  }
  
  form.search::after {
	content: "";
	clear: both;
	display: table;
  }

  /*Item Categories */
  .item_categories {
	  position: relative;
	  left: 59%;
  }

  .item_categories_all {
	background: #e04b11;
    position: relative;
	padding: 10px 25px 10px 40px;
	width: 204px;
    cursor: pointer;
  }

  .item_categories_all span {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.item_categories ul {
	border: 1px solid #ebebeb;
	width: 204px;
    padding-left: 40px;
    padding-top: 10px;
	padding-bottom: 12px;
}

ul {
  list-style-type: none;
}

/* -------------------------------------- */
/* animated drop down menu for categories */
/* -------------------------------------- */

/* hide list as default */
.menu-categories {
  display: block;
  opacity: 0;
}

.hide-menu {
  animation-name: hide-menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.show-menu {
  animation-name: show-menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hide-menu {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateY(90deg);
  }
}

@keyframes show-menu {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

/* ------------------------------ */
/* end of animated drop down code */
/* ------------------------------ */