* 
{
    color: red;
}

div {
    color: firebrick;
}

p {
    color: green;
    background-color: khaki;
    font-size: xx-large;
    text-align: center;
    width: 100%;
    border: thick red dotted;
    padding: 2px 10px;
}

div {
    color: red;
}

p {
    color: green; 
    background-color: burlywood;
    font-size: xx-large;
    text-align: center;
    border: thick red dotted;
    padding: 2px 10px;
}

/*How to comment in HTML */
h1,
h2,
h3 {
    font-family: sans-serif;
}

#s1234567 {
    color: purple;
}

.strike {
    text-decoration: line-through;
    color: orange
}
div p {
    color: blue;
}

h1 > p {
    color: pink;
}

div h1 ~ h2 {
    color: brown;
}